__pycache__/
.env
venv/
.venv/
.mypy_cache/
dist/
build/
*.pyc
*.pyo
*.egg-info/
log/
static/media/
.ruff_cache/
.pytest_cache/
.python-version
celerybeat-schedule.*
coverage/
.DS_Store
Thumbs.db
*.tmp
*.swp
.idea/

# vscode
.vscode/

# logs
logs/

data/
